.adder {
  display: grid;
  grid-template-columns: 1fr auto;
}

.adder__input,
.adder__button {
  padding: 1.25rem 1.5rem;
}

.adder__input::placeholder {
  color: var(--disabled-color);
}

.adder__button {
  font-size: 2rem;
  line-height: 0;
}
